---
import { ClientRouter } from 'astro:transitions';
import BaseHead, { type Props as HeadProps } from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import MaugliFloatingLabel from '../components/MaugliFloatingLabel.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';

export type Props = HeadProps & { showHeader?: boolean; fullWidth?: boolean };

const { showHeader = true, fullWidth = false, ...head } = Astro.props;
---

<!doctype html>
<html lang="ru" class="antialiased break-words bg-main">
    <head>
        <BaseHead {...head} />
        <script>
            // Инициализация темы до загрузки DOM
            function initTheme() {
                const theme = localStorage.getItem('theme');
                if (theme === 'dark' || (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                    document.documentElement.classList.add('dark');
                    localStorage.setItem('theme', 'dark');
                } else {
                    document.documentElement.classList.remove('dark');
                    localStorage.setItem('theme', 'light');
                }
            }

            initTheme();
        </script>
        <ClientRouter />
    </head>
    <body class="bg-main text-main">
        <div class="flex flex-col min-h-screen px-4 md:px-8 w-full">
            <Nav />
            {showHeader && <Header />}
            <main class:list={['grow w-full mx-auto', fullWidth ? 'max-w-none' : 'max-w-3xl', 'pt-24']}>
                <slot />
            </main>
            <Footer />
            <MaugliFloatingLabel />
        </div>

        <script>
            // Сохранение темы при переходах между страницами
            document.addEventListener('astro:page-load', () => {
                // Переинициализируем тему на каждой новой странице
                const theme = localStorage.getItem('theme');
                if (theme === 'dark') {
                    document.documentElement.classList.add('dark');
                } else {
                    document.documentElement.classList.remove('dark');
                }
            });
        </script>
    </body>
</html>
